<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Navbar</title>
    <link rel="stylesheet" href="style.css" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />
    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
      integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
      integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://kit.fontawesome.com/8c760309a4.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <style>
    .navbar{
        padding:4rem,3rem;
        top:0;
        min-height: 8vh;
        background-color:white;
    }
    nav img:hover{
        transform:scale(1.1);
    }
    .navbar-toggler{
        background:yellow;
        border:none;
        padding:10px;
        outline:none;
    }
    .navbar-toggler span{
        display: block;
        width:20px;
        border:1px;
        height:2px;
        background:blue;
    }
    .navbar-toggler span+span{
        margin-top:4px;
        width:15px;
        margin-left:2px;
    }
    .navbar-toggler span+span+span{  
        width:7px;
        margin-left:2px;
    }
    .navbar-expand-lg .navbar-nav .nav-link{
        font-size:30px;
        position:relative;
        padding:2rem 1.2rem;
        color:black;
    }
    .card {
    background-color: white;
    width: 350px;
    border: none;
    box-shadow: 5px 6px 6px 2px #e9ecef;
    border-radius: 12px
    }

    .circle-image img {
    border: 6px solid #fff;
    border-radius: 100%;
    padding: 0px;
    top: -28px;
    position: relative;
    width: 70px;
    height: 70px;
    border-radius: 100%;
    z-index: 1;
    background: #e7d184;
    cursor: pointer
    }

    .dot {
    height: 18px;
    width: 18px;
    background-color: blue;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    border: 3px solid #fff;
    top: -48px;
    left: 186px;
    z-index: 1000
    }

    .name {
    margin-top: -21px;
    font-size: 18px
    }

    .fw-500 {
    font-weight: 500 !important
    }

    .start {
    color: green
    }

 .stop {
    color: red
    }

    
    

  </style>
  <body>
    <div class="container-fluid" >    ---container1 start--->  
      <div class="row">               -------row1 start---->
      <div class="col-md-12">         ----col1 start---->
      <nav class="navbar navbar-expand-lg  nav-menu fixed-top" style="background-color: grey; " >
          {% load static %}
          <img src="{% static 'Ts logo.jpg' %}" style="height:70px; border-radius: 3px;">
          
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span ></span>
          <span ></span>
          <span ></span>
          </button>
          <div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">
              <ul class="navbar-nav ml-auto">
                  <li class="nav-item active">
                      <a id='home' class="nav-link" href="home"  >
                          Home<span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item dropdown">
                     <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="padding-left:6px;">
                 District
                      </a>
                      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href="Hyderabad">1.Hyderabad</a>
                      <a class="dropdown-item" href="warangal">2.warngal</a>
                      <a class="dropdown-item" href="Adilabad">3.Adilabad</a>
                      <a class="dropdown-item" href="karimnagar">4.karimnagar</a>
                      <a class="dropdown-item" href="RangaReddy">5.Ranga Reddy</a>
                      <a class="dropdown-item" href="index">6.Khammam</a>
                      <a class="dropdown-item" href="Nizamabad">7.Nizamabad</a>
                      <a class="dropdown-item" href="Mahabubnagar">8.Mahabubnagar</a>
                      <a class="dropdown-item" href="Medak">9.Medak</a>
                      <a class="dropdown-item" href="Nalgonda">10.Nalgonda</a>
                      </div>
                  </li>
                  <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"  style="padding-left: 6px;" >
                     Telangana Famous Places
                      </a>
                      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href="charminar">Charminar</a>
                      <a class="dropdown-item" href="goloconda">Goloconda Fort</a>
                      <a class="dropdown-item" href="ThousandPillarTemple">Thousand pillars Temple</a>
                       </div>
                  </li>
                  <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="home" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"   style="padding-left: 2px;">
                          Telangana Temples
                      </a>
                      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                          <a class="dropdown-item" href="BirlaMandir">Birla Mandir</a>
                          <a class="dropdown-item" href="SanghiTemple">Sanghi Temple</a>
                          <a class="dropdown-item" href="ThousandPillarTemple">Thousand Pillar Temple</a>
                          <a class="dropdown-item" href="RajaRajeswara">Raja Rajeswara </a>
                   </div>
                  </li>
                  <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="home" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"  style="padding-left: 2px;">
                         T.S Waterfalls
                      </a>
                      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                          <a class="dropdown-item" href="kuntalawaterfall">Kuntala water Fall</a>
                          <a class="dropdown-item" href="pocherawaterfall">Pochera Water Fall</a>
                          <a class="dropdown-item" href="Bogatha Wateralls
                          ">Bogatha Wateralls
                        </a>
                      </div>
                  </li>
                              </ul>
              </div>
      </nav>      
  </div> <!--col-md-12end -->
  </div> <!--#row1 end-->
  </div>  <!--container1-->          
  
   
    <div class="wcu-section pt-5 pb-5" id="wcuSection">
      <div class="container-fluid">
        <div class="row pt-5" >
                          <div class="col-12 col-md-6 col-lg-4">
                  <div class="shadow menu-item-card p-3 mb-3" >
                    {% load static %}
          <img src="{% static 'bgotha2.jpg' %}"  class="menu-item-img w-100"
          >
         
                   
                  </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 ">
                  <div class="shadow menu-item-card p-3 mb-3 " >
                    {% load static %}
          <img src="{% static 'bogotha5.jpg' %}"  class="menu-item-img w-100" >
          
                  
                                      </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 ">
                  <div class="shadow menu-item-card p-3 mb-3" >
                    {% load static %}
                <img src="{% static 'bogatha3.png' %}" class="menu-item-img w-100"  >
               
                                        </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="healthy-food-section pt-5 pb-5">
      <div class="container-fluid">
        <div class="row ">
          <div class="col-12 col-md-7">
            <div class="text-center">
                {% load static %}
                <img src="{% static 'bogatha1.jpg' %}" style="width:750px ;">
               
            </div>
          </div>
         <div class="col-12 col-md-5">
            <h1 class="healthy-food-section-hd">
                Bogatha Wateralls
            </h1>
            <P style="font-size:20px;margin-top: 20px; font-family:'bitter',serif;line-height:35px;text-align:justify; color: black;">
      
                Sanghi Temple, located at Sanghi Nagar in Telangana in India, is about 35 km from Hyderabad city.[1]
                The sacred Raja Gopuram, which is very tall, can be seen from several kilometers away.
             
                The temple is located on the top of Paramanand Giri hill, which attracts a number of devotees.
              
                The temple is managed by Mrs Anita Sanghi of the Sanghi Family.
                
                
            </p>
              
          </div>
          
          </div>
        </div>
              
          </div>

        </div>
      </div>
    </div>
    <div>
        <div class="container" >    
            <div class="row">               
            <div class="col-md-7 offset-md-3">        
                <video width="400" controls>
                  <source src="{%  static 'Bogatha Waterfalls.mp4' %}" type="video/mp4">
                 
                  </video>
                  
                  
           </div>
          </div>
        </div>
        <div class="container d-flex justify-content-center mt-5">  
          <div class="card text-center mb-5">
              <div class="circle-image"> 
                  <img src="{% static 'Ts logo.jpg' %}" width="50"> 
                 
              </div> 
              <span class="dot"></span>
              <span class="name mb-1 fw-500">Telangana Tourism</span> 
              <small class="text-black-50">V.Srinivas Goud</small>
              <small class="text-black-50 font-weight-bold">+91-40-23262151</small>
              <div class="location mt-4">
              <span class="d-block"> 
              <i class="fa fa-map-marker start"></i> 
              <small class="text-truncate ml-2"> Tourism House Himayatnagar, Hyderabad - 500 029,</small>
                  </span> 
                  <span>
                      <i class="fa fa-map-marker stop mt-2"></i> 
                      <small class="text-truncate ml-2">3-5-891,                     Telangana, India.</small> 
                  </span> 
              </div>
              
                   </div>
          </div>
      </div>  
      </div>
      <footer>
        <div class="container-fluid">
        <div class="row" style="height:50px;"></div>
        <div class="row" style="background-color:grey;color:white;">
            <div class=" col-md-4 offset-md-1">
                <h3 style="margin-top:30px;margin-left:10px;"><i class="bi bi-building"></i> Telangana Tourism Department</h3>
                <p style="margin-left:10px;" ><br>
                    Ground Floor, Kala Bhavan,<br>
    Ravindra Bharathi,<br>
    Hyderabad. - 500004,<br>
    Telangana, India.<br>    
                    
                </p> 
            </div>
            <div class="col-md-4 ">
                <h3 style="margin-top:30px;margin-left:30px;"><i class="bi bi-telephone"></i> CONTACT</h3>
                <p style="padding-top: 30px;">  
                                 
                <i class="bi bi-telephone"></i> Phone:  +91-40-23262152, +91-40-23262153, +91-40-23262154, +91-40-23262157
    
                </p> 
            </div>
            <div class="col-md-3">
                <h3 style="margin-top:30px; margin-left:50px;"><i class="bi bi-geo-alt-fill"></i> LOCATION</h3>
                <div class="map-wrapper">
                    <iframe class="googlemap" src="" width="100%;" height="150px;" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
               
                </div>
            </div>
        </div>
        </div>
        <div class="container-fluid">
            <div class="row" style="color:black;background-color:burlywood">
                <div class="col-md-7 offset-md-5">
                    <p style="font-size:20px;">@2022 copyrights reserved<p>
                </div> 
            </div>
        </div>
        </footer>
    
    
    
              </body>
</html>
