<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <title>Nalgonda</title>
    <style>
        .container-fluid{
            width: 100%;
        }    
        body{
            background-color: whitesmoke;
        }
        .navbar{
            padding:4rem,3rem;
            top:0;
            min-height: 8vh;
            background-color:white;
        }
        nav img:hover{
            transform:scale(1.1);
        }
        .navbar-toggler{
            background:red;
            border:none;
            padding:10px;
            outline:none;
        }
        .navbar-toggler span{
            display: block;
            width:20px;
            border:1px;
            height:2px;
            background:white;
        }
        .navbar-toggler span+span{
            margin-top:4px;
            width:15px;
            margin-left:2px;
        }
        .navbar-toggler span+span+span{  
            width:7px;
            margin-left:2px;
        }
        .navbar-expand-lg .navbar-nav .nav-link{
            font-size:30px;
            position:relative;
            padding:2rem 1.2rem;
            color:black;
        }
        #home{   
            color:black;
            font-size: 30px;
        }
        #home:hover{
            color:white;
        }
        .navbar-expand-lg .navbar-nav .nav-link:hover{
            color:white;
        }
        button{
            transition-duration: 5s;
            margin-left: 15px;
            }
        button:hover{       
            transform: scale(1.2);   
                    }
                    .card {
    background-color: white;
    width: 350px;
    border: none;
    box-shadow: 5px 6px 6px 2px #e9ecef;
    border-radius: 12px
    }

    .circle-image img {
    border: 6px solid #fff;
    border-radius: 100%;
    padding: 0px;
    top: -28px;
    position: relative;
    width: 70px;
    height: 70px;
    border-radius: 100%;
    z-index: 1;
    background: #e7d184;
    cursor: pointer
    }

    .dot {
    height: 18px;
    width: 18px;
    background-color: blue;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    border: 3px solid #fff;
    top: -48px;
    left: 186px;
    z-index: 1000
    }

    .name {
    margin-top: -21px;
    font-size: 18px
    }

    .fw-500 {
    font-weight: 500 !important
    }

    .start {
    color: green
    }

 .stop {
    color: red
    }



   
    </style>
</head>
<body >
    <div class="container-fluid" >      
        <div class="row">               
        <div class="col-md-12">         
        <nav class="navbar navbar-expand-lg  nav-menu fixed-top" style="background-color: grey; " >
            {% load static %}
            <img src="{% static 'Ts logo.jpg' %}" style="height:70px; border-radius: 3px;">
            
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span ></span>
            <span ></span>
            <span ></span>
            </button>
            <div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a id='home' class="nav-link" href="home"  >
                            Home<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item dropdown">
                       <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="padding-left:6px;">
                   District
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="Hyderabad">1.Hyderabad</a>
                        <a class="dropdown-item" href="warangal">2.warangal</a>
                        <a class="dropdown-item" href="Adilabad">3.Adilabad</a>
                        <a class="dropdown-item" href="karimnagar">4.karimnagar</a>
                        <a class="dropdown-item" href="RangaReddy">5.Ranga Reddy</a>
                        <a class="dropdown-item" href="index">6.Khmmam</a>
                        <a class="dropdown-item" href="Nizamabad">7.Nizamabad</a>
                        <a class="dropdown-item" href="Mahabubnagar">8.Mahabubnagar</a>
                        <a class="dropdown-item" href="Medak">9.Medak</a>
                        <a class="dropdown-item" href="Nalgonda">10.Nalgonda</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"  style="padding-left: 6px;" >
                       Telangana Famous Places
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="charminar">Charminar</a>
                        <a class="dropdown-item" href="goloconda">Goloconda Fort</a>
                        <a class="dropdown-item" href="ThousandPillarTemple">Thousand pillars Temple</a>
                         </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="home" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"   style="padding-left: 2px;">
                            Telangana Temples
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="BrilaMandir">Brila Mandir</a>
                            <a class="dropdown-item" href="SanghiTemple">Sanghi Temple</a>
                            <a class="dropdown-item" href="ThousandPillarTemple">Thousand Pillar Temple</a>
                            <a class="dropdown-item" href="RajaRajeswara">Raja Rajeswara </a>
                     </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="home" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"  style="padding-left: 2px;">
                           T.S Waterfalls
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="kuntalawaterfall">Kuntala water Fall</a>
                            <a class="dropdown-item" href="pocherawaterfall">Pochera Water Fall</a>
                            <a class="dropdown-item" href="bogatha">Bogatha Wateralls
                            </a>
                        </div>
                    </li>
                                </ul>
                </div>
        </nav>      
    </div> <!--col-md-12end -->
    </div> <!--#row1 end-->
    </div>  <!--container1-->          
    
    <div class="container-fluid">
    <div class="row" style="height:150px;">
    </div>
    <div class="row mb-5">
        <div class="col-md-4 offset-md-1">
            <img src="{% static 'surendrapuri.jpg' %}" style="height:350px;border:2px solid black;border-radius:10px;width:100%">
        </div>
        <div class="col-md-6 ">
            <P style="font-size:20px; font-family:'bitter',serif;line-height:35px;text-align:justify; color: black;margin-left:50px;">
              <h1>Surendrapuri</h1>
                     </P>Dhokra (also spelt Dokra) is non–ferrous metal casting using the lost-wax casting technique. This sort of metal casting has been used in India for over 4,000 years and is still used. One of the earliest known lost wax artefacts is the dancing girl of Mohenjo-daro.[1] The product of dhokra artisans are in great demand in domestic and foreign markets because of primitive simplicity, enchanting folk motifs and forceful form. Dhokra horses, elephants, peacocks, owls, religious images, measuringbowls, and lamp caskets etc., are highly appreciated.[2] The lost wax technique for casting of copper based alloys has also been found in China, Egypt, Malaysia, Nigeria, Central America, and other places.

        </div>
    </div>
    <div class="row mb-5" >
        <div class="col-md-4 offset-md-1">
            <img src="{% static 'Chaya-Someswara.jpg' %}" style="height:350px;border:2px solid black;border-radius:10px;width:100%">
        </div>
        <div class="col-md-6 ">
            <P style="font-size:20px; font-family:'bitter',serif;line-height:35px;text-align:justify; color: black;margin-left:50px;">
              <h1>Chaya Someswara Temple</h1>
                     </P>Chaya Someswara Temple, also known as the Chaya Someshvara Swamy Alayam or the Saila-Somesvara temple, is a Saivite Hindu temple located in Panagal, Nalgonda district of Telangana, India.[1][2] It was built around the mid 11th-century during the rule of the Kunduru Chodas (a branch of Tamil Cholas), supported and embellished further by later Hindu dynasties of Telangana.[3] Some date it to late 11th to early 12th-century.[4][5]
                     The temple, now partially restored, was in ruins in mid 20th-century. It has three garbhagriya (sanctums), a form of temple architecture that is called Trikutalayam (three-shrine complex). The sanctums are dedicated to Shiva, Vishnu and Surya.       
                     

        </div>
    </div>
    <div class="row mb-5" >
        <div class="col-md-4 offset-md-1">
            <img src="{% static 'bhongir-fort.jpg' %}" style="height:350px;border:2px solid black;border-radius:10px;width:100%">
        </div>
        <div class="col-md-6 ">
            <P style="font-size:20px; font-family:'bitter',serif;line-height:35px;text-align:justify; color: black;margin-left:50px;">
              <h1>Bhongirifort</h1>
                     </P>The Bhongir fort adorns the place from the time it was built in 10th century. Bhongir Fort was built on an isolated monolithic rock by the Western Chalukya ruler Tribhuvanamalla Vikramaditya IV in the year 1076 and was thus named after him as Tribhuvanagiri, later it was called as Bhuvanagiri. Some of the inscriptions found in the fort were in Kannada and Telugu language highlighting the lifestyle of the people of that era. The inscriptions, the architecture and some sculptures found in the fort reveal that the fort was ruled by the Chalukya dynasty for a long time and then by the Kakatiya dynasty. The stone wall, the steps through the granite archways and the crumbling stucco ruins of the later age, still adorn the place.[citation needed]

                     Somewhere in 15th century, the fort was ceded to the Bahamani Sultans and then was taken over by a local governor.  

        </div>
    </div>

    <div class="row mb-5" >
        <div class="col-md-4 offset-md-1">
            <img src="{% static 'NagarjunaSagar.jpg' %}" style="height:350px;border:2px solid black;border-radius:10px;width:100%">
        </div>
        <div class="col-md-6 ">
            <P style="font-size:20px; font-family:'bitter',serif;line-height:35px;text-align:justify; color: black;margin-left:50px;">
              <h1>NagarjunaSagar</h1>
                     </P>Nagarjuna Sagar Dam is a masonry dam across the Krishna River at Nagarjuna Sagar which straddles the border between Nalgonda district in Telangana and Palnadu district in Andhra Pradesh.[2] The dam provides irrigation water to the Nalgonda, Suryapet, Krishna, NTR, Bapatla, Eluru, Palnadu, Khammam, West Godavari, Guntur, and Prakasam districts along with electricity generation.

                     Constructed between 1955 and 1967, the dam created a water reservoir with gross storage capacity of 11.472 billion cubic metres (405.1×109 cu ft). The dam is 490 feet (150 m) tall from its deepest foundation and 0.99 miles (1.6 km) long with 26 flood gates which are 42 feet (13 m) wide and 45 feet (14 m) tall.[3] It is jointly operated by Andhra Pradesh and Telangana.[2][4]
                     
                     Nagarjuna Sagar Dam was the earliest in a series of large infrastructure projects termed as "modern temples" initiated for achieving the Green Revolution in India. It is also one of the earliest multi-purpose irrigation and hydroelectric projects in India.
                     

        </div>
    </div>

    
    <div class="container d-flex justify-content-center mt-5">  
        <div class="card text-center mb-5">
            <div class="circle-image"> 
                <img src="{% static 'Ts logo.jpg' %}" width="50"> 
               
            </div> 
            <span class="dot"></span>
            <span class="name mb-1 fw-500">Telangana Tourism</span> 
            <small class="text-black-50">V.Srinivas Goud</small>
            <small class="text-black-50 font-weight-bold">+91-40-23262151</small>
            <div class="location mt-4">
                <span class="d-block"> 
                    <i class="fa fa-map-marker start"></i> 
                    <small class="text-truncate ml-2"> Tourism House
                        Himayatnagar, Hyderabad - 500 029,
    </small>
                </span> 
                <span>
                    <i class="fa fa-map-marker stop mt-2"></i> 
                    <small class="text-truncate ml-2">3-5-891,                     Telangana, India.</small> 
                </span> 
            </div>
            
                 </div>
        </div>
    </div>  
    </div>
    
       
    <footer>
        <div class="container-fluid">
        <div class="row" style="height:50px;"></div>
        <div class="row" style="background-color:grey;color:white;">
            <div class=" col-md-4 offset-md-1">
                <h3 style="margin-top:30px;margin-left:10px;"><i class="bi bi-building"></i> Telangana Tourism Department</h3>
                <p style="margin-left:10px;" ><br>
                    Ground Floor, Kala Bhavan,<br>
    Ravindra Bharathi,<br>
    Hyderabad. - 500004,<br>
    Telangana, India.<br>    
                    
                </p> 
            </div>
            <div class="col-md-4 ">
                <h3 style="margin-top:30px;margin-left:30px;"><i class="bi bi-telephone"></i> CONTACT</h3>
                <p style="padding-top: 30px;">  
                                 
                <i class="bi bi-telephone"></i> Phone:  +91-40-23262152, +91-40-23262153, +91-40-23262154, +91-40-23262157
    
                </p> 
            </div>
            <div class="col-md-3">
                <h3 style="margin-top:30px; margin-left:50px;"><i class="bi bi-geo-alt-fill"></i> LOCATION</h3>
                <div class="map-wrapper">
                    <iframe class="googlemap" src="" width="100%;" height="150px;" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
               
                </div>
            </div>
        </div>
        </div>
        <div class="container-fluid">
            <div class="row" style="color:black;background-color:burlywood">
                <div class="col-md-7 offset-md-5">
                    <p style="font-size:20px;">@2022 copyrights reserved<p>
                </div> 
            </div>
        </div>
        </footer>
    

</body>
</html>